@charset "utf-8";

.buy-main{
	text-align: center !important;
	margin-bottom: 45px !important;
	margin-top: 5% !important;
}

.buy-buy-btn{
	font-weight: bold !important;
	background-color: skyblue !important;
    margin: 5px !important;
    padding: 5px 10px !important
}

.buy-remove-btn, .buy-back-btn{
	font-weight: bold !important;
	background-color: silver !important;
    margin: 5px !important;
    padding: 5px 10px !important
}

.buy-write-btn{
	background-color: yellow !important;
	
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: none !important;
    border-top: 1px solid #ddd !important;
}