@charset "utf-8";

.btn-primary.btn-lg{
	background-color: white !important;
	color:black !important;
	border: 1px co
	
}
button:hover{
    background-color: black !important;
    color: #ffffff !important;
}
	
.fa.fa-credit-card.fa-2x{
	font-size: 14pt !important;
	width: 223px !important;
	text-align: left !important;

}

.btn.btn-warning.btn-lg{
	background-color: black !important;
	color: white !important;
	
}

.fa.fa-shopping-cart.fa-2x{
	font-size: 14pt !important;
	width: 223px !important;
	text-align: left !important;
	
}

.panel-title{
	font-size: 23pt !important;
	margin-top: 272pt !important;
	margin-bottom: 140pt !important;
}


.col-md-6{
	margin-top: 181px !important;
	
}

.row{
	margin-bottom: 100px !important;
}


.mini{
	font-size: 13px !important;
	text-align: center !important;
	

}

.btn.btn-default.btn-info{
	background-color: white !important;
	border: 1px gray !important;
	height: 24px !important;
	width: 24px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	text-align: center !important;
}


.input-group-btn.data-up{
	text-align: left !important;
	margin-left: 0px !important;
}


.col-md-6{
	width: 600px !important;
	margin-left: 5px!important;
	
/* 	min-width: 200px!important; */
}



.list_list{
margin-left: 5px


}

