@charset "utf-8";

.btn-primary.btn-lg{
	background-color: white !important;
	color:black !important;
	
}
button:hover{
    background-color: black !important;
    color: #ffffff !important;
}
	
.fa.fa-credit-card.fa-2x{
	font-size: 14pt !important;
	width: 223px !important;
	text-align: left !important;

}

.listContainer{
	margin-top: 50px !important;
	margin-bottom: 150px !important; 
}



.addCartBtn{
	background-color: black !important;
	color: white !important;
	
}

.fa.fa-shopping-cart.fa-2x{
	font-size: 14pt !important;
	width: 223px !important;
	text-align: left !important;
	
}

.listTitle{
	font-size: 30px !important;
	margin-top: 50px !important;
	margin-bottom: 20px !important;
	margin-left: 20px !important;
}


.listImg{
	margin-top: 60px !important;
	margin-bottom: 20px !important;
	
}

.listImg > div > img {
	margin-bottom: 20px !important;
}

/* .row{ */
/* 	margin-bottom: 100px !important; */
/* } */


.mini{
	font-size: 13px !important;
	text-align: center !important;
	

}

.btn.btn-default.btn-info{
	background-color: white !important;
	border: 1px gray !important;
	height: 24px !important;
	width: 24px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	text-align: center !important;
}


.input-group-btn.data-up{
	text-align: left !important;
	margin-left: 0px !important;
}


.col-md-6{
	width: 600px !important;
	margin-left: 5px!important;
	
/* 	min-width: 200px!important; */
}



.list_list{
margin-left: 5px


}

.replyBackBtn{
	font-weight: bold !important;
	background-color: #fff !important;
    border: 1px solid black !important;	
    margin: 5px !important;
    padding: 5px 10px !important
}
.addReplyBtn{
	background-color: skyblue !important;
	color: white !important;
/*     border: 1px solid black !important;	 */
    margin: 5px !important;
    padding: 5px 10px !important
}
