@charset "utf-8";

/* 회원가입 부분 */
.user-main{
	text-align: center !important;
	margin-top: 40px;
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
}



.user-post-btn{
    background-color: skyblue !important;
    border: 1px solid black;
    font-weight: bold !important;
}

.user-back-btn{
	background-color: silver !important;
}

.user-submit-btn{
	background-color: skyblue !important;
}

.user-kakao-btn{
	list-style: none;	
}

/* 로그인 부분 */
.user-find{
	text-align: center;
}

.user-find a{
	text-decoration: none !important;
}

.user-login-btn{
	background-color: skyblue !important;	
}

.user-kakao-btn{
	display: block !important;
}